@using ToDoListLibrary.Entity.ToDoList;
@model  ToDoList.Models.ToDoListModel
@{
    ViewBag.Title = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container todoList">
    <div class="containerHeadear">
        <h1>My To Do List</h1>
        <p>What do you want to do?</p>
    </div>
    <form name="todoForm">
        <input id="content" type="text" />
    </form>
    <button id="btn">Add</button>
    <ul>
        @{
            foreach (ContentEntity entity in Model.entityList)
            {
                if (entity.fld_status)
                {
                    <li fld_id="@entity.fld_ID" class="item strike">
                        <input type="checkbox" fld_id="@entity.fld_ID" class="ckb" checked /> @entity.fld_Content
                    </li>
                }
                else
                {
                    <li fld_id="@entity.fld_ID" class="item">
                        <input type="checkbox" fld_id="@entity.fld_ID" class="ckb"  /> @entity.fld_Content
                    </li>
                }
            }
        }
    </ul>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ToDoList")

<script>

    $(document).ready(function () {
        ToDoList.init();

    });
</script>